---
layout: archive
---
<h2>Summary</h2>
<p style="font-size: 13pt;">I am a 2nd year PhD student working with <a href="https://homepages.inf.ed.ac.uk/thospeda/">Prof. Timothy Hospedales</a> and <a href="https://www.henrygouk.com/">Dr. Henry Gouk</a>. My research is dedicated to <u>scaling down AI</u>. Specifically, I investigate deep learning theory, optimization theory, and meta-learning as the foundation for developing novel training algorithms and neural architectures that are more data, energy, and parameter efficient. I am interested in hyperparameter-free training algorithms, biologically-plausible learning, backpropagation-free algorithms, and neuroevolution. I also apply my research in diverse areas such as multi-modal learning, AutoML, on-device AI, federated learning, domain adaptation, and neurocomputing.
</p>

<h2>News</h2>
<ul style="font-size:13pt">
    <li>
        &#127775; <b>[Oct 2023]</b> One paper accepted to NeurIPS (2023) ICBINB workshop!
    </li>
</ul>